@charset "UTF-8";

/*
 * login.css
 * login.jspファイル独自のcssファイル
 */

header {
    background: none;
}
.generic_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}
#img_h1 {
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: var(--main-color);
}
img {
    width: auto;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.g_c_header {
    font-size: 30px;
    line-height: 48px;
    height: 48px;
}
#w200px {
    width: 200px;
}
