@charset "UTF-8";

/*
 * product_manage.css
 * product_manage.jspファイル独自のcssファイル
 */

main {
  margin-top: 28px;
  margin-bottom: 28px;
}
main > article {
  width: 75%;
}
.w11 {
  width: 11%;
}
.w11 > h3 {
  text-align: center;
}
.product_tr {
  cursor: pointer;
}
.product_tr > .product_category {
  background: #ffffff;
}
.border_top {
  border-top: .5px solid #ffffff;
  color: #ffffff;
}
.border_bottom {
  border-bottom: .5px solid #ffffff;
}
.result_popup .msg {
  margin-bottom: 0;
}
.result_popup .error_msg {
  margin-top: 0;
}
/* === ボタンを表示するエリア ============================== */
.checkArea {
  margin: 4px auto 4px auto;
  width: 42px;
  height: 24px;
}
 /* === チェックボックスのラベル（標準） ==================== */
.checkArea label {
  display: block;
  border: 2px solid var(--main-color);
  height: 24px;
  cursor: pointer;
}
 /* === 移動BOX（標準） ===================================== */
.checkArea .box {
  height: 18px;
  width: 18px;
  margin: 1px;
  background: var(--background-color);
  transition: .3s;
}
 /* === ON側のチェックボックスの移動BOX（ONのとき） ========= */
.checkArea .check:checked + label .box {
  transform: translateX(100%);
  background: var(--main-color);
}